In [4]:
import pandas as pd

In [8]:
df = pd.read_csv('https://raw.githubusercontent.com/kodewilayah/permendagri-72-2019/main/dist/base.csv',names=['code','location'])

In [9]:
df

                code           location
0                 11               ACEH
1              11.01  KAB. ACEH SELATAN
2           11.01.01           Bakongan
3      11.01.01.2001     Keude Bakongan
4      11.01.01.2002       Ujong Mangki
...              ...                ...
91215       92.71.10        Maladum Mes
91216  92.71.10.1001             Suprau
91217  92.71.10.1002        Tampa Garam
91218  92.71.10.1003              Saoka
91219  92.71.10.1004    Tanjung Kasuari

[91220 rows x 2 columns]

In [34]:
df = df[df['code'] != '13.02.02.1036']

In [36]:
prov = {}
kabkota = {}
kec = {}
des = {}
new_df = []
for index,row in df.iterrows():
    code = row['code'].split('.')
    #prov
    if len(code) == 1:
        prov[row['code']] = row['location']
    #kabkota
    elif len(code) == 2:
        kabkota[row['code']] = row['location']
    #kec
    elif len(code) == 3:
        kec[row['code']] = row['location']
    #des
    elif len(code) == 4:
        des[row['code']] = row['location']

for id in des:
    code = id.split('.')
    prov_name = prov[code[0]]
    kabkota_name = kabkota['.'.join(code[0:2])]
    kec_name = kec['.'.join(code[0:3])]
    new_df.append(dict(
        code=id,
        provinsi=prov_name,
        kabkota=kabkota_name,
        kecamatan=kec_name,
        desa=des[id]
    ))

new_df = pd.DataFrame(new_df)
new_df

,code,provinsi,kabkota,kecamatan,desa
0,11.01.01.2001,ACEH,KAB. ACEH SELATAN,Bakongan,Keude Bakongan
1,11.01.01.2002,ACEH,KAB. ACEH SELATAN,Bakongan,Ujong Mangki
2,11.01.01.2003,ACEH,KAB. ACEH SELATAN,Bakongan,Ujong Padang
3,11.01.01.2004,ACEH,KAB. ACEH SELATAN,Bakongan,Gampong Drien
4,11.01.01.2015,ACEH,KAB. ACEH SELATAN,Bakongan,Darul Ikhsan
...,...,...,...,...,...
83436,92.71.09.1006,PAPUA BARAT,KOTA SORONG,Malaimsimsa,Klabulu
83437,92.71.10.1001,PAPUA BARAT,KOTA SORONG,Maladum Mes,Suprau
83438,92.71.10.1002,PAPUA BARAT,KOTA SORONG,Maladum Mes,Tampa Garam
83439,92.71.10.1003,PAPUA BARAT,KOTA SORONG,Maladum Mes,Saoka
83440,92.71.10.1004,PAPUA BARAT,KOTA SORONG,Maladum Mes,Tanjung Kasuari

In [37]:
new_df.to_csv('desa.csv',index=False)

In [39]:
# kecamatan 
new_df['kec_code'] = new_df['code'].apply(lambda x: '.'.join((x.split('.')[0:3])))
new_df

,code,provinsi,kabkota,kecamatan,desa,kec_code
0,11.01.01.2001,ACEH,KAB. ACEH SELATAN,Bakongan,Keude Bakongan,11.01.01
1,11.01.01.2002,ACEH,KAB. ACEH SELATAN,Bakongan,Ujong Mangki,11.01.01
2,11.01.01.2003,ACEH,KAB. ACEH SELATAN,Bakongan,Ujong Padang,11.01.01
3,11.01.01.2004,ACEH,KAB. ACEH SELATAN,Bakongan,Gampong Drien,11.01.01
4,11.01.01.2015,ACEH,KAB. ACEH SELATAN,Bakongan,Darul Ikhsan,11.01.01
...,...,...,...,...,...,...
83436,92.71.09.1006,PAPUA BARAT,KOTA SORONG,Malaimsimsa,Klabulu,92.71.09
83437,92.71.10.1001,PAPUA BARAT,KOTA SORONG,Maladum Mes,Suprau,92.71.10
83438,92.71.10.1002,PAPUA BARAT,KOTA SORONG,Maladum Mes,Tampa Garam,92.71.10
83439,92.71.10.1003,PAPUA BARAT,KOTA SORONG,Maladum Mes,Saoka,92.71.10
83440,92.71.10.1004,PAPUA BARAT,KOTA SORONG,Maladum Mes,Tanjung Kasuari,92.71.10

In [42]:
new_df.groupby(['kec_code','provinsi','kabkota','kecamatan']).count().reset_index().to_csv('kecamatan.csv',index=False)

In [43]:
new_df[new_df.kec_code == '11.01.07']

,code,provinsi,kabkota,kecamatan,desa,kec_code
112,11.01.07.2001,ACEH,KAB. ACEH SELATAN,Sawang,Sikulat,11.01.07
113,11.01.07.2002,ACEH,KAB. ACEH SELATAN,Sawang,Sawang I,11.01.07
114,11.01.07.2003,ACEH,KAB. ACEH SELATAN,Sawang,Meuligo,11.01.07
115,11.01.07.2004,ACEH,KAB. ACEH SELATAN,Sawang,Lhok Pawoh,11.01.07
116,11.01.07.2005,ACEH,KAB. ACEH SELATAN,Sawang,Sawang II,11.01.07
117,11.01.07.2006,ACEH,KAB. ACEH SELATAN,Sawang,Ujung Karang,11.01.07
118,11.01.07.2007,ACEH,KAB. ACEH SELATAN,Sawang,Trieng Meuduro Baroh,11.01.07
119,11.01.07.2008,ACEH,KAB. ACEH SELATAN,Sawang,Trieng Meuduro Tunong,11.01.07
120,11.01.07.2009,ACEH,KAB. ACEH SELATAN,Sawang,Panton Luas,11.01.07
121,11.01.07.2010,ACEH,KAB. ACEH SELATAN,Sawang,Simpang Tiga,11.01.07
122,11.01.07.2011,ACEH,KAB. ACEH SELATAN,Sawang,Kuta Baro,11.01.07
123,11.01.07.2012,ACEH,KAB. ACEH SELATAN,Sawang,Blang Geulinggang,11.01.07
124,11.01.07.2013,ACEH,KAB. ACEH SELATAN,Sawang,Mutiara,11.01.07
125,11.01.07.2014,ACEH,KAB. ACEH SELATAN,Sawang,Ujung Padang,11.01.07
126,11.01.07.2015,ACEH,KAB. ACEH SELATAN,Sawang,Sawang Ba'u,11.01.07

In [45]:
df_kec = new_df.groupby(['kec_code','provinsi','kabkota','kecamatan']).count().reset_index()
df_kec

      kec_code     provinsi            kabkota      kecamatan  code  desa
0     11.01.01         ACEH  KAB. ACEH SELATAN       Bakongan     7     7
1     11.01.02         ACEH  KAB. ACEH SELATAN    Kluet Utara    21    21
2     11.01.03         ACEH  KAB. ACEH SELATAN  Kluet Selatan    17    17
3     11.01.04         ACEH  KAB. ACEH SELATAN   Labuhan Haji    16    16
4     11.01.05         ACEH  KAB. ACEH SELATAN         Meukek    23    23
...        ...          ...                ...            ...   ...   ...
7225  92.71.06  PAPUA BARAT        KOTA SORONG   Sorong Manoi     5     5
7226  92.71.07  PAPUA BARAT        KOTA SORONG    Sorong Kota     4     4
7227  92.71.08  PAPUA BARAT        KOTA SORONG       Klaurung     4     4
7228  92.71.09  PAPUA BARAT        KOTA SORONG    Malaimsimsa     4     4
7229  92.71.10  PAPUA BARAT        KOTA SORONG    Maladum Mes     4     4

[7230 rows x 6 columns]

In [46]:
df_kec[df_kec.kec_code=='11.01.07']

   kec_code provinsi            kabkota kecamatan  code  desa
6  11.01.07     ACEH  KAB. ACEH SELATAN    Sawang    15    15

In [47]:
df_kec

      kec_code     provinsi            kabkota      kecamatan  code  desa
0     11.01.01         ACEH  KAB. ACEH SELATAN       Bakongan     7     7
1     11.01.02         ACEH  KAB. ACEH SELATAN    Kluet Utara    21    21
2     11.01.03         ACEH  KAB. ACEH SELATAN  Kluet Selatan    17    17
3     11.01.04         ACEH  KAB. ACEH SELATAN   Labuhan Haji    16    16
4     11.01.05         ACEH  KAB. ACEH SELATAN         Meukek    23    23
...        ...          ...                ...            ...   ...   ...
7225  92.71.06  PAPUA BARAT        KOTA SORONG   Sorong Manoi     5     5
7226  92.71.07  PAPUA BARAT        KOTA SORONG    Sorong Kota     4     4
7227  92.71.08  PAPUA BARAT        KOTA SORONG       Klaurung     4     4
7228  92.71.09  PAPUA BARAT        KOTA SORONG    Malaimsimsa     4     4
7229  92.71.10  PAPUA BARAT        KOTA SORONG    Maladum Mes     4     4

[7230 rows x 6 columns]